html{
  height: 100%;
  background: url('./background.jpg') no-repeat center;
  background-size: cover;
}

body{
  margin: 0;
  height: 80%;
}

#content{
  margin: 5% 10%;
  background-color: white;
  display: flex;
  height: 100%;
}

#todo{
  width: 60%;
  border-width: 4px;
  border-style: none solid none none;
  border-color: #f9f5ea;
}

#info{
  width: 40%;
}

#todo a{
  font-size: x-large;
  padding: 2% 5% 2% 5%;
  border: #c0c0c0;
  border-width: 1px;
  border-style: none none solid none;
  display: block;
  text-decoration: none;
  color: black;
}

#todo a.new_todo{
  font-size: xx-large;
  color: darksalmon;
}

#todo a:hover{
  color: white;
  background-color: pink;
}

#todo a:active{
  background-color: rgb(255, 98, 125);
  border: none;
}

#new_todo:hover{
  font-size: xx-large !important;
  color: white !important;
  background-color: pink !important;
}

#info ul{
  display: none;
  list-style: outside none; 
  padding-left: 0%;
  margin-top: 0%;
}

#info ul li{
  display: block;
  background: url(list-image.png) center left no-repeat;
  padding: 4% 5% 4% 12%;
  word-wrap:break-word;
  font-size: large;
  border: #c0c0c0;
  border-style: none none solid none;
  border-width: 1px;
}

#info ul li span{
  font-size: x-large;
  
}

#delete_button {
  display: none;
  margin: auto;
  padding: 4% 6%;
  background-color: pink;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: large;
}

#delete_button:hover{
  background-color: rgb(248, 136, 155);
}

#delete_button:active{
  background-color: rgb(255, 98, 125);
  border: none;
}

#delete_button:focus{
  outline: none;
}

.title{
  color: white;
  background-color: pink;
  font-size: xx-large;
  height: 2em;
  display: flex;
  justify-content:center;
  align-items:Center;
}

